.error {
    background-color: red;
}

.correct {
    background-color: green;
}

span:after {
    content: "";
    display: inline-block;
    width: 6px;
}

.highlight {
    background-color: yellow;
}

.reset{
    background-color: navajowhite;
}
